@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

:root {
  font-family: Inter, "Segoe UI", system-ui, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #0d0d0d;
}
